<h1>UVAL Calculator </h1>


<form>
	<div class="form-group">
		<label>Material Name </label>
		{{input type="text" class="form-control" value=model.MaterialName placeholder="Add Material Name..."}}
	</div>

  <div class="form-group">
		<label>Thickness</label>
		{{input type="text" class="form-control" value=model.Thickness placeholder="Add Thickness ..."}}
	</div>

  <div class="form-group">
    <label> K-Value </label>
    {{input type="text" class="form-control" value=model.KValue placeholder="Add K-Value r..."}}
  </div>

	<button {{action 'addForm'}} class="btn btn-primary">Submit</button>
</form>

<br>
<br>

<h2> Table Display </h2>

<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 200%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>




{{#each model as |uval|}}
<table>
  <tr>
    <th>U-Value Calculator</th>
  </tr>
  <tr>
    <th>Material Name</th>
    <th>Thickness</th>
    <th>K-Value</th>
    <th>Resistivity, K m2/W</th>
  </tr>
  <tr>
    <td>Outside Surafce</td>
    <td>-</td>
    <td>-</td>
    <td>{{uval.OutsideSurface}}</td>
  </tr>
  <tr>
    <td>Inside Surface</td>
    <td>-</td>
    <td>-</td>
    <td>{{uval.InsideSurface}}</td>
  </tr>
  <tr>
    <td>{{uval.MaterialName}}</td>
    <td>{{uval.Thickness}}</td>
    <td>{{uval.KValue}}</td>
    <td>{{uval.Resistivity}}</td>
  </tr>
	<tr>
	 <td>Total</td>
	 <td>-</td>
	 <td>-</td>
	 <td>50</td>
 </tr>
 <tr>
	 <td>U-Value =</td>
	 <td>-</td>
 </tr>
</table>
{{/each}}
{{outlet}}

</body>
</html>
